*{
	box-sizing: border-box;
}
.left{
	float: left;
	width: 60%;
	height: 350px;
	border: 1px dotted #c2d6d6;
	margin: 5px
}
.right{
	background-color: white;
	float: left;
	width: 38%;
	height: 350px;
	border: 1px dotted #c2d6d6;
		margin: 5px
}